h1 {
	font-family: 'Roboto Slab', serif;
}

#myphoto {
display: block;
position: relatve;
margin: auto;
border: 10px groove #003366;
height: auto;
width: auto;
padding-top: 25px;
padding-right: 25px;
padding-bottom: 25px;
padding-left: 25px;
}
#uls {
position: relatve;
margin: auto;
border: 5px solid #003366;
height: auto;
width: 50%;
padding-top: 15px;
padding-right: 15px;
padding-bottom: 15px;
padding-left: 45px;
background-color: grey
}

ul#tabs {
    padding: 0;
}

ul#tabs li {
    display: inline;
}

ul#tabs li a {
    background-color: black;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px 4px 0 0;
}

ul#tabs li a:hover {
    background-color: orange;
}