h1 {
	font-family: 'Roboto Slab', serif;
}

#myphoto {
display: block;
position: relatve;
margin: auto;
border: 10px groove #003366;
height: auto;
width: auto;
padding-top: 25px;
padding-right: 25px;
padding-bottom: 25px;
padding-left: 25px;
}
#uls {
position: relatve;
margin: auto;
border: 5px solid #003366;
height: auto;
width: 50%;
padding-top: 15px;
padding-right: 15px;
padding-bottom: 15px;
padding-left: 45px;
background-color: grey
}

ul#tabs {
    padding: 0;
}

ul#tabs li {
    display: inline;
}

ul#tabs li a {
    background-color: black;
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 4px 4px 0 0;
}

ul#tabs li a:hover {
    background-color: orange;
}

dl.map {
background: url(worldmap.png) no-repeat;
border: 1px solid #999;
margin: 0px;
padding: 0px;
text-align:left;
width: 550px;
height: 275px;
position: relative;
}

dl.map dt {
display: inline;
}

dl.map dd {
background: #555;
border: 2px solid #222;
border-radius: 8px; /* CSS3 rounded corners */
-moz-border-radius: 8px; /* Mozilla rounded corners */
color: #fff;
padding: 4px;
width: 200px;
position: absolute;
left: -9999px;
z-index: 11;
}

dl.map a.location {
background: url(point.png) no-repeat;
display: block;
outline: none;
text-decoration: none;
text-indent: -9999px;
width: 10px;
height: 10px;
position: absolute;
z-index: 10;
}
dl.map a.location:hover {
background: url(point-hover.png) no-repeat -1px -1px;
}

dl.map a#shanghai {
top: 80px;
left: 484px;
}
dl.map a#tokyo {
top: 105px;
left: 121px;
}

dl.map.on {
background: url(worldmap.png) no-repeat;
border: 1px solid #999;
margin: 0px;
padding: 0px;
text-align:left;
width: 550px;
height: 275px;
position: relative;
}